.swiper {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-shutters-image,
.swiper-shutters-image-clones,
.swiper-shutters-image-clone {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.swiper-shutters .swiper-slide,
.swiper-shutters swiper-slide {
  overflow: hidden;
}

.swiper-shutters-image {
  object-fit: cover;
  object-position: center;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-shutters-image-clone {
  overflow: hidden;
}


.swiper-shutters-image-clone:nth-of-type(1){
  transform: translate3d(10%, 0px, 0px) !important
}

.swiper-shutters-image-clone:nth-of-type(1) .swiper-shutters-image{
  transform: translate3d(10%, 0px, 0px) !important
}