@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
  background-color: white;
  -webkit-font-smoothing: antialiased;
}


* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}


.custom-bg {
  background-image: linear-gradient(80deg, #38312a 40%, #615d59);
}

.custom-text {
  background-image: linear-gradient(180deg, #ee8905, #fff38c);
  -webkit-background-clip: text;
  /* background-clip: text; */
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

Track::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-menu li {
  min-width: 160px;
  text-align: center;
}

.custom-menuLink:hover {
  background-color: #2b160f;
}

.custom-menuLink:before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #2b160f;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s;
}

.custom-menuLink:hover:before {
  bottom: -12px;
  left: -12px;
  opacity: 1;
}

.custom-menuLink:after {
  content: '';
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #2b160f;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}

.custom-menuLink:hover::after {
  top: -12px;
  right: -12px;
  opacity: 1;
}

.custom-menuLink {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0px 10px;
  position: relative;
  transition: all 0.5s;
}

